body {
    background-color: grey;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10%;
    background-color: black;    
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}
.big-box {
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
#dark-knight-logo {
    width: 150px;
}
#batman-img {
    width: 20%;
    position: absolute;
    top: 5px;
    z-index: 2;
}
#gordon-img {
    position: absolute;
    z-index: 2;
    width: 25%;
    right: 200px;
    top: 0px;
}
#joker-img {
    width: 15%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#bane-img {
    width: 10%;
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: -1;
}
.text-box {
    background-color: grey;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    font-size: 12px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    color: white;
    z-index: 3;
    position: relative;
}
h1 {
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
    z-index: 3;
    position: relative;
}
