body {
    background-color: grey;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: black;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    margin-bottom: 50px;
}
.big-box {
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border-radius: 10px;
    z-index: 1;
}
#dark-knight-logo {
    width: 150px;
}
#batman-img {
    width: 25%;
    position: absolute;
    top: -10%;
    z-index: 1-
}
#gordon-img {
    position: absolute;
    z-index: -1;
    width: 25%;
}
.text-box {
    background-color: grey;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    font-size: 12px;
    border: solid black 1px;
    color: white;
}
h1 {
    color: white;
    text-align: center;
    
}