body, html {
    height: 100%;
    margin:0;  
  }
  
  .bg {
    /* The image used */
    background-image: url("../images/gothamcitybg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
      text-align: center;
      font-family: fantasy;
      font-size: 70px;
      border: 10px;
      border-color: orange;
      border-style:solid;
     
  }